body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(205, 227, 255);
}

.ice-lolly {
  font-size: 7px;
}

.flavors {
  width: 19em;
  height: 26em;
  border-radius: 8em 8em 1em 1em;
  overflow: hidden;
  position: relative;
}

.flavors::before {
  content: '';
  position: absolute;
  width: 140%;
  height: 120%;
  background: linear-gradient(
    hotpink 0%,
    hotpink 25%,
    deepskyblue 25%,
    deepskyblue 50%,
    gold 50%,
    gold 75%,
    lightgreen 75%,
    lightgreen 100%
  );
  transform: rotate(-20deg);
  left: -20%;
  z-index: -1;
  animation: moving 100s linear infinite;
  animation-play-state: paused;
}

.ice-lolly:hover .flavors::before {
  animation-play-state: running;
}

@keyframes moving {
  to {
    background-position: 0 1000vh;
  }
}

.flavors::after {
  content: '';
  position: absolute;
  width: 2em;
  height: 17em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  left: 2em;
  top: 4em;
}

.stick {
  position: relative;
  width: 6em;
  height: 10em;
  background: sandybrown;
  border-radius: 0 0 3em 3em;
  left: calc(50% - 6em / 2);
}

.stick::before {
  position: absolute;
  content: '';
  width: inherit;
  height: 3em;
  background: sienna;
}
