body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, navy, black);
}

.heart {
  width: 14em;
  height: 11em;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

span {
  width: 1em;
  height: var(--height);
  background-color: var(--bgcolor);
  border-radius: 0.5em;
  position: relative;
  top: var(--top);
  animation: beating 5s infinite;
}

span:nth-child(1),
span:nth-child(9) {
  --bgcolor: orangered;
  --height: 3em;
  --top: 2.2em;
}

span:nth-child(2),
span:nth-child(8) {
  --bgcolor: gold;
  --height: 6em;
  --top: 0.6em;
}

span:nth-child(3),
span:nth-child(7) {
  --bgcolor: limegreen;
  --height: 8em;
  --top: 0em;
}

span:nth-child(4),
span:nth-child(6) {
  --bgcolor: dodgerblue;
  --height: 9em;
  --top: 0.8em;
}

span:nth-child(5) {
  --bgcolor: mediumpurple;
  --height: 9.4em;
  --top: 1.6em;
}

@keyframes beating {
  0%,
  30% {
    top: var(--top);
    height: var(--height);
    background-color: var(--bgcolor);
    filter: blur(0);
    width: 1em;
  }

  60%,
  70% {
    top: 25%;
    height: 50%;
    background-color: lightblue;
    filter: blur(5px);
    width: 0.2em;
  }
}
