body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
}

* {
  box-sizing: border-box;
}

.parrot {
  width: 10em;
  height: 10em;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parrot > * {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.5s;
  border-radius: 50%;
}

.outer {
  width: 100%;
  height: 100%;
  border: 1em solid;
  border-color: transparent transparent orangered tomato;
}

.middle {
  width: 80%;
  height: 80%;
  border: 4em solid;
  border-color: gold transparent gainsboro white;
}

.inner {
  width: 40%;
  height: 40%;
  border: 2em solid;
  border-color: transparent orange transparent transparent;
}

.inner::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: black;
  left: -2em;
  top: -0.5em;
  border-radius: 50%;
}

.parrot:hover .outer {
  transform: rotate(225deg);
  border-color: transparent transparent lightseagreen darkcyan;
}

.parrot:hover .middle {
  transform: rotate(-135deg);
  border-color: transparent orange white gainsboro;
}

.parrot:hover .inner {
  transform: rotate(135deg);
  border-color: transparent gold transparent transparent;
}
