body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, midnightblue, black);
}

.coil {
  position: relative;
  display: flex;
  justify-content: center;
}

.coil::before,
.coil::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  top: -0.5em;
}

.coil::before {
  left: -1.5em;
  background: darkgreen;
}

.coil::after {
  left: -9.5em;
  background: darkred;
  box-shadow: 0 0 1em white;
  transform: scale(0.95);
  animation: blink 1.5s ease-in-out infinite alternate;
  z-index: -1;
}

span {
  position: absolute;
  width: calc((var(--n) * 2 - 1) * 1em);
  height: calc((var(--n) - 0.5) * 1em);
  border: 1em solid darkgreen;
}

span:nth-child(odd) {
  align-self: flex-end;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: none;
}

span:nth-child(even) {
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  border-top: none;
  transform: translateX(-1em);
}

span:nth-child(1) {
  --n: 1;
}

span:nth-child(2) {
  --n: 2;
}

span:nth-child(3) {
  --n: 3;
}

span:nth-child(4) {
  --n: 4;
}

span:nth-child(5) {
  --n: 5;
}

span:nth-child(6) {
  --n: 6;
}

span:nth-child(7) {
  --n: 7;
}

span:nth-child(8) {
  --n: 8;
}

@keyframes blink {
  to {
    box-shadow: 0 0 0 white;
  }
}
